#signup {
    height: 100vh;
    display: none;
}

#authqr {
    border-radius: 20px;
    display: none;
}

#signup > input {
    all: unset;
    
    height: 15px;
    width: 200px;
    border-radius: 20px;
    padding: 15px;

    background-color: rgb(90, 90, 90);
    color: white;
}

#signup > input:hover, #signup > #signup-btn:hover {
    background-color: rgb(100, 100, 100);
}

#signup > #signup-btn {
    all: unset;
    cursor: pointer;

    height: 15px;
    width: 100px;
    border-radius: 20px;
    padding: 15px;

    background-color: rgb(90, 90, 90);
    color: white;

    text-align: center;
}

#signup > input:active, #signup > #signup-btn:active {
    background-color: rgb(70, 69, 69);
}

#signuperr {
    font-weight: bold;
    color: red;
    display: none;
}